<form #form="ngForm" (submit)="onSubmit(form)" autocomplete="off">
    <input type="hidden" name = "userId" #userId = "ngModel" [(ngModel)]="service.formData.userId">
    <div class="form-group">
        <label>User Name</label>
        <input type="text" name = "userName" #userName = "ngModel" [(ngModel)]="service.formData.userName" class="form-control" required>
    </div>
    <div class="form-group">
        <label>Password</label>
        <input type="text" name = "password" #password = "ngModel" [(ngModel)]="service.formData.password" class="form-control" required>
    </div>
    <div class="form-group">
        <label>Postal Address</label>
        <input type="text" name = "postalAddress" #postalAddress = "ngModel" [(ngModel)]="service.formData.postalAddress" class="form-control">
    </div>
    <div class="form-row">
        <div class="form-group col-md-6">
            <label>Contact Number</label>
            <input type="text" name = "contactNumber" #contactNumber = "ngModel" [(ngModel)]="service.formData.contactNumber" class="form-control">
        </div>
        <div class="form-group col-md-6">
            <label>Email</label>
            <input type="text" name = "email" #userName = "ngModel" [(ngModel)]="service.formData.email" class="form-control" required>
        </div>
    </div>
    <div class="form-group">
        <button type="submit" [disabled]= "form.invalid" class="btn btn-lg btn.block">Submit</button>
    </div>
</form>
