<table class="table table-hover">
    <tr *ngFor= "let user of service.userList">
        <td (click)="populateUserForm(user)">[{{user.userId}}]-{{user.userName}}</td>
        <td (click)="populateUserForm(user)">{{user.postalAddress}}</td>
        <td (click)="populateUserForm(user)">{{user.contactNumber}}</td>
        <td (click)="populateUserForm(user)">{{user.email}}</td>
        <td><button (click)="onDelete(user)" class="btn btn-sm btn-outline-danger">X</button></td>
    </tr>
</table>
