<div class="jumbotron">
    <h1 class="display-4 text-center">Register New User</h1>
    <hr>
    <div class="row">
        <div class="col-md-5">
            <app-user></app-user>
        </div>
        <div class="col-md-7">
            <app-user-list></app-user-list>
        </div>
    </div>
</div>